<template lang="pug">
.container(@click.stop="onChartClick")
  doughnut-chart(
    :chartData="chartData",
    :width="200",
    :height="200",
    :options="chartOptions",
    v-if="chartType === 'DoughnutChart'")
  bar-chart(
    :chartData="chartData",
    :width="200",
    :height="200",
    :options="chartOptions",
    v-if="chartType === 'BarChart'")
</template>
<script lang="ts">
import { DoughnutChart, BarChart } from 'vue-chart-3';
import { Chart, registerables } from "chart.js";
import {computed, defineComponent, PropType, ref, toRefs, watchEffect} from 'vue'
import {DataItem} from '@/components/PangeoForm/use/useDataGenerator'

Chart.register(...registerables)

export default defineComponent({
  name: 'DataChart',
  components: {
    DoughnutChart,
    BarChart
  },
  props: {
    data: {
      type: Array as PropType<DataItem[]>,
      required: true
    }
  },
  setup(props) {
    const chartType = ref('DoughnutChart')

    const {data} = toRefs(props)
    const uniqueRandItems = ref<string[]>([])
    const randCounts = ref<number[]>([])

    const chartData = computed(() => ({
      labels: uniqueRandItems.value,
      datasets: [
        {
          data: randCounts.value,
          backgroundColor: ['#77CEFF', '#0079AF', '#123E6B', '#97B0C4', '#A5C8ED'],
        },
      ],
    }))

    const chartOptions = computed(() => ({
      plugins: {
        legend: {
          display: chartType.value === 'DoughnutChart',
          position: 'top',
        },
      }
    }))

    watchEffect(() => {
      uniqueRandItems.value = []
      randCounts.value = []

      data.value.sort((a,b) => {
        return (a.id > b.id ? 1 : -1)
      })

      data.value.forEach((dataItem) => {
        if (uniqueRandItems.value.indexOf(dataItem.rand) < 0) {
          uniqueRandItems.value.push(dataItem.rand)
          const count = data.value.filter((checkDataItem) => checkDataItem.rand === dataItem.rand).length
          randCounts.value.push(count)
        }
      })
    })

    const onChartClick = () => {
      chartType.value = chartType.value === 'DoughnutChart' ? 'BarChart' : 'DoughnutChart'
    }

    return {
      chartOptions,
      chartData,
      chartType,
      onChartClick
    }
  }
})
</script>
