<template lang="pug">
.container
  .row
    table.table
      thead
        tr
          th(@click="onSortByClick('id')") id
          th(@click="onSortByClick('title')") title
          th(@click="onSortByClick('rand')") rand
      tbody
        tr(v-for="item in items", :key="item.id")
          th {{item.id}}
          td {{item.title}}
          td {{item.rand}}
  .row
    .col-4
      button.btn(@click="onPrevPageClick", v-show="hasPrevPage") {{'<<'}}
    .col-4.d-flex.justify-content-center page: {{page}} / {{totalPages}}
    .col-4.d-flex.justify-content-end
      button.btn(@click="onNextPageClick", v-show="hasNextPage") {{'>>'}}
</template>
<script lang="ts">
import {defineComponent, PropType, reactive, toRefs} from 'vue'
import {DataItem} from '@/components/PangeoForm/use/useDataGenerator'
import {PaginatorOptions, usePaginator} from '@/components/PangeoForm/use/usePaginator'

export default defineComponent({
  name: 'DataTable',
  props: {
    data: {
      type: Array as PropType<DataItem[]>,
      required: true
    },
    itemsOnPage: {
      type: Number,
      required: true
    }
  },
  setup(props) {
    const {data, itemsOnPage} = toRefs(props)
    const paginatorOptions: PaginatorOptions = reactive({
      itemsOnPage: itemsOnPage,
      sortBy: 'id',
      sortDirection: 1
    })

    const {items, page, totalPages, hasPrevPage, hasNextPage} = usePaginator(paginatorOptions, data)

    const onSortByClick = (key: string) => {
      if (paginatorOptions.sortBy === key) {
        paginatorOptions.sortDirection *= -1
      } else {
        paginatorOptions.sortBy = key
        paginatorOptions.sortDirection = 1
      }
    }

    const onPrevPageClick = () => {
      page.value--
    }
    const onNextPageClick = () => {
      page.value++
    }

    return {
      page,
      totalPages,
      items,
      hasPrevPage,
      hasNextPage,
      onSortByClick,
      onPrevPageClick,
      onNextPageClick
    }
  }
})
</script>
