<template lang="pug">
.pangeo-form
  .container
    .row
      .col-auto(v-for="(field, index) in formFields", :key="index")
        input.form-control(
          :class="{'border-2': field.hasError, 'border-danger': field.hasError}",
          :placeholder="field.placeholder",
          v-model="field.model")
      .col-auto
        .btn-toolbar
          button.btn.btn-primary.me-1(type="button", @click.stop="onApplyClick") Применить
          button.btn.btn-dark(type="button", @click.stop="onClearClick") Сбросить

  .container.mt-5
    .row
      .col-8
        data-table(:data="generatorDataItems", :itemsOnPage="itemsOnPage")
      .col-auto
        data-charts(:data="generatorDataItems")

  .container.mt-5
    .row.justify-content-center
      button.btn.btn-primary(v-if="generatorDataItems.length", @click="onDownloadCSVClick") Download CSV

</template>
<script lang="ts">
import {defineComponent, reactive, ref} from 'vue'
import {DataProviderOptions, useDataGenerator} from '@/components/PangeoForm/use/useDataGenerator'
import DataTable from '@/components/PangeoForm/DataTable.vue'
import {FormField, useForm} from '@/components/PangeoForm/use/useForm'
import DataCharts from '@/components/PangeoForm/DataCharts.vue'
import {downloadCSV} from '@/components/PangeoForm/utils/csv'

export default defineComponent({
  name: 'PangeoForm',
  components: {
    DataTable,
    DataCharts
  },
  setup() {
    const itemsOnPage = ref(0)
    const formFields = ref<FormField[]>([
      {
        id: 'recordsCount',
        placeholder: 'Кол-во записей',
        model: 20,
        type: 'number',
        hasError: false
      },
      {
        id: 'itemsOnPage',
        placeholder: 'Кол-во на страницу',
        model: 10,
        type: 'number',
        hasError: false
      },
      {
        id: 'recordsValues',
        placeholder: 'Значения записей',
        model: 'a,b,c',
        type: 'records',
        hasError: false
      }
    ])

    function getFormFieldValue(id: string) : number | string {
      const list = formFields.value.filter((fieldItem) => fieldItem.id === id)
      return list.length > 0 ? list[0].model : ''
    }

    const {formHasAnyError, validateForm} = useForm(formFields)

    const dataProviderOptions: DataProviderOptions = reactive({
      recordsCount: 0,
      recordsValues: [],
    })

    const {items: generatorDataItems} = useDataGenerator(dataProviderOptions)

    const onApplyClick = () => {
      validateForm()
      if (!formHasAnyError.value) {
        itemsOnPage.value = Number(getFormFieldValue('itemsOnPage'))
        dataProviderOptions.recordsCount = Number(getFormFieldValue('recordsCount'))
        dataProviderOptions.recordsValues = getFormFieldValue('recordsValues').toString().split(',')
            .map((valueItem) => valueItem.trim())
            .filter((valueItem) => valueItem !== '')
      }
    }

    const onClearClick = () => {
      generatorDataItems.value = []
      dataProviderOptions.recordsCount = 0
      itemsOnPage.value = 0
      formFields.value.forEach((field) => {
        field.model = field.type === 'number' ? 0 : ''
        field.hasError = false
      })
    }

    const onDownloadCSVClick = () => {
      const data = [['id', 'title', 'rand']]
      generatorDataItems.value.forEach((dataItem) => {
        data.push([
          dataItem.id.toString(),
          dataItem.title,
          dataItem.rand
        ])
      })

      downloadCSV(data)
    }

    return {
      generatorDataItems,
      itemsOnPage,
      formFields,
      onApplyClick,
      onClearClick,
      onDownloadCSVClick
    }
  }
})
</script>
