<template lang="pug">
pangeo-form
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import PangeoForm from '@/components/PangeoForm.vue'

export default defineComponent({
  name: 'App',
  components: {
    PangeoForm
  }
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
</style>
